@charset "utf-8";

.mother {
	
	width: 100%;
	height:1000px;
	
	margin: auto;
	padding-top: 15px;
	
}

/*here starts left side boundry*/
.da1 {
	float: left;
	position:relative;
	width: 45%;
	height: 1000px;
	background-color: transparent;
}

.da1so1{
	float: left;
	width:  20%;
	height: 1000px;
	background-color: transparent;	
}

.da1so1da1{
	float: left;
	width:  100%;
	height: 1000px;
	background-color: transparent;	
}

.xl{
	
	float: left;
	width:  100%;
	height: 29.25px;
	background-color: white;
	border: 1px solid #000000;
    border-radius: 5px;
	
}
/*------------------round one----------------------------*/
.da1so2{
	float: left;
	width:  20%;
	height: 1000px;
	background-color: transparent;	
}

.da1so2da1{
	float: left;
	width:  100%;
	height: 1000px;
	background-color: transparent;
		
}
.zl{
	float: left;
	width:  100%;
	height: 60.5px;
	background-color: white;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-left: 5px;
	font
}
/*------------------round two----------------------------*/

.da1so3{
	float: left;
	width:  20%;
	height: 1000px;
	background-color: transparent;	
}

.da1so3da1{
	float: left;
	width:  100%;
	height: 1000px;
	background-color: transparent;
		
}
.yl{
	float: left;
	width:  100%;
	height: 123px;
	background-color: white;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-left: 5px;
}

/*------------------round tree----------------------------*/



.da1so4{
	float: left;
	width:  20%;
	height: 1000px;
	background-color: transparent;	
}


.da1so4da1{
	float: left;
	width:  100%;
	height: 1000px;
	background-color: transparent;
		
}

.ql{
	float: left;
	width:  100%;
	height: 248px;
	background-color: white;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-left: 5px;
}
/*------------------round four----------------------------*/


.da1so5{
	float: left;
	width:  20%;
	height: 1000x;
	background-color: transparent;	
}
.da1so5da1{
	float: left;
	width:  100%;
	height: 1000px;
	background-color: transparent;
}

.sl{
	float: left;
	width:  100%;
	height: 498px;
	background-color: white;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-left: 5px;

}
/*this is the left side boundry*/
.so1 {
	float: left;
	width:  10%;
	height: 1000px;
	background-color: transparent;
}
/*here starts right side boundry*/
.da2{
	float: left;
	position:relative;
	width: 45%;
	height: 1000px;
	background-color: transparent;


}
.da2so1 {
	float: left;
	width:  20%;
	height: 1000px;
	background-color: transparent;
	
}
.da2so1da1{
	float: left;
	width:  100%;
	height: 1000px;
	background-color: transparent;	
}
.xr{
	
	float: left;
	width:  100%;
	height: 29.25px;
	background-color: white;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-right: 10px;
	direction: rtl;
	
	
}
/*------------------round one----------------------------*/
.da2so2 {
	float: left;
	width:  20%;
	height: 1000px;
	background-color: transparent;
	
}
.da2so2da1{
	float: left;
	width:  100%;
	height: 1000px;
	background-color: transparent;

}
.zr{
	float: left;
	width:  100%;
	height: 60.5px;
	background-color: white;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-right: 10px;
	direction: rtl;
}
/*------------------round two----------------------------*/
.da2so3 {
	float: left;
	width:  20%;
	height: 1000px;
	background-color: transparent;
	
}

.da2so3da1{
	float: left;
	width:  100%;
	height: 1000px;
	background-color: transparent;
}
.yr{
	float: left;
	width:  100%;
	height: 123px;
	background-color: white;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-right: 5px;
	direction: rtl;
}

/*------------------round three----------------------------*/
.da2so4 {
	float: left;
	width:  20%;
	height: 1000px;
	background-color: transparent;
	
}

.da2so4da1{
	float: left;
	width:  100%;
	height: 1000px;
	background-color: #AEA2B1;
		
}
.qr{
	float: left;
	width:  100%;
	height: 248px;
	background-color: white;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-right: 5px;
	direction: rtl;
}

/*------------------round four----------------------------*/
.da2so5{
	float: left;
	width:  20%;
	height: 1000px;
	background-color: transparent;
	
}
.da2so5da1{
	float: left;
	width:  100%;
	height: 1000px;
	background-color: transparent;
}
.sr{
	float: left;
	width:  100%;
	height: 498px;
	background-color: transparent;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-right: 5px;
	direction: rtl;
}
/*here ends right side boundry*/