<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>64_bracket</title>
<link href="main_style.css" rel="stylesheet" type="text/css">


</head>

<body>

  
    <button type="button" onclick="alert('Hello world!')">Click Me!</button>
  <div class="mother">
    
    
    <div class="da1">
      <!--this is the daughter one of mother-->
      <div class="da1so1">
        
        <div class="da1so1da1">
          <!--this is the daughter one of son one she has 8 sons-->
          <div class="xl">1</div>
          <div class="xl">2</div>
          <div class="xl">3</div>
          <div class="xl">4</div>
          <div class="xl">5</div>
          <div class="xl">6</div>
          <div class="xl">7</div>
          <div class="xl">8</div>
          <div class="xl">9</div>
          <div class="xl">10</div>
          <div class="xl">11</div>
          <div class="xl">12</div>
          <div class="xl">13</div>
          <div class="xl">14</div>
          <div class="xl">15</div>
          <div class="xl">16</div>
          <div class="xl">17</div>
          <div class="xl">18</div>
          <div class="xl">19</div>
          <div class="xl">20</div>
          <div class="xl">21</div>
          <div class="xl">22</div>
          <div class="xl">23</div>
          <div class="xl">24</div>
          <div class="xl">25</div>
          <div class="xl">26</div>
          <div class="xl">27</div>
          <div class="xl">28</div>
          <div class="xl">29</div>
          <div class="xl">30</div>
          <div class="xl">31</div>
          <div class="xl">32</div>
          
          </div>
        </div>
      <div class="da1so2">
        
        <div class="da1so2da1">
          <!--this is the daughter one of son two she has 8 sons-->
          <div class="zl">1</div>
          <div class="zl">2</div>
          <div class="zl">3</div>
          <div class="zl">4</div>
          <div class="zl">5</div>
          <div class="zl">6</div>
          <div class="zl">7</div>
          <div class="zl">8</div>
          <div class="zl">9</div>
          <div class="zl">10</div>
          <div class="zl">11</div>
          <div class="zl">12</div>
          <div class="zl">13</div>
          <div class="zl">14</div>
          <div class="zl">15</div>
          <div class="zl">16</div>
          
          </div>
        </div>
      <div class="da1so3">
        
        <div class="da1so3da1">
          <!--this is the daughter one of son three she has 4 sons	-->
          <div class="yl">1</div>
          <div class="yl">2</div>
          <div class="yl">3</div>
          <div class="yl">4</div>
          <div class="yl">5</div>
          <div class="yl">6</div>
          <div class="yl">7</div>
          <div class="yl">8</div>
          </div>
        </div>
      <div class="da1so4">
        <div class="da1so4da1">
          <!--this is the daughter one of son four she has 2 sons	-->
          <div class="ql">1</div>
          <div class="ql">2</div>
          <div class="ql">3</div>
          <div class="ql">4</div>
          </div>
        </div>
      <div class="da1so5">
        <div class="da1so5da1">
          <!--this is the daughter one of son five she has 1 son-->
          <div class="sl">1</div>
          <div class="sl">2</div>		
          </div>
        </div>
      </div>
    
    
    
    
    <div class="so1">
      <!--this is the only son for the mother he have a son-->
      <div class="so1so1">
        <!--final-->
        </div>
      </div>
    
    
    
    <div class="da2">
      <!--this is the daughter two of mother-->
      <div class="da2so1">
        
        <div class="da2so1da1">
          <!--this is the daughter one of son one she has 2 sons-->
          <div class="sr">1</div>
          <div class="sr">2</div>
          
          </div>
        </div>
      <div class="da2so2">
        
        <div class="da2so2da1">
          <!--this is the daughter one of son two she has 4 sons-->
          <div class="qr">1</div>
          <div class="qr">2</div>
          <div class="qr">3</div>
          <div class="qr">4</div>
          
          
          </div>
        </div>
      <div class="da2so3">
        
        <div class="da2so3da1">
          <!--this is the daughter one of son three she has 8 sons	-->
          <div class="yr">1</div>
          <div class="yr">2</div>
          <div class="yr">3</div>
          <div class="yr">4</div>
          <div class="yr">5</div>
          <div class="yr">6</div>
          <div class="yr">7</div>
          <div class="yr">8</div>
          </div>
        </div>
      <div class="da2so4">
        <div class="da2so4da1">
          <!--this is the daughter one of son four she has 16 sons	-->
          <div class="zr">1</div>
          <div class="zr">2</div>
          <div class="zr">3</div>
          <div class="zr">4</div>
          <div class="zr">5</div>
          <div class="zr">6</div>
          <div class="zr">7</div>
          <div class="zr">8</div>
          <div class="zr">9</div>
          <div class="zr">10</div>
          <div class="zr">11</div>
          <div class="zr">12</div>
          <div class="zr">13</div>
          <div class="zr">14</div>
          <div class="zr">15</div>
          <div class="zr">16</div>
          </div>
        </div>
      <div class="da2so5">
        <div class="da2so5da1">
          <!--this is the daughter one of son five she has 32 son-->
          <div class="da2so5da1so1">
              <div class="xr">1</div>
              <div class="xr">2</div>
              <div class="xr">3</div>
              <div class="xr">4</div>
              <div class="xr">5</div>
              <div class="xr">6</div>
              <div class="xr">7</div>
              <div class="xr">8</div>
              <div class="xr">9</div>
              <div class="xr">10</div>
              <div class="xr">11</div>
              <div class="xr">12</div>
              <div class="xr">13</div>
              <div class="xr">14</div>
              <div class="xr">15</div>
              <div class="xr">16</div>
              <div class="xr">17</div>
              <div class="xr">18</div>
              <div class="xr">19</div>
              <div class="xr">20</div>
              <div class="xr">21</div>
              <div class="xr">22</div>
              <div class="xr">23</div>
              <div class="xr">24</div>
              <div class="xr">25</div>
              <div class="xr">26</div>
              <div class="xr">27</div>
              <div class="xr">28</div>
              <div class="xr">29</div>
              <div class="xr">30</div>
              <div class="xr">31</div>
              <div class="xr">32</div>
          </div>		
          </div>
        </div>
      </div>
    
  </div>
  
  

</body>
</html>
