doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title=title
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/thumbnail-gallery.css', rel='stylesheet')
  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='#') Lexicon Tropy 2107
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='#')
                | Home
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/view') Fixtures
            li.nav-item
              a.nav-link(href='/admin') Admin
            li.nav-item
              a.nav-link(href='contact.html') Contact
    // Page Content
    .container
     
       h1.my-4.text-center.text-lg-left Lexicon Tropy 2017
       .row.text-center.text-lg-left
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r1g1
              | group#1
              h2 
        .col-lg-3.col-md-4.col-xs-6
          
          
          a.d-block.mb-4.h-100(href='#')
            h2.r1g2
              | group#2
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r1g3
              | group#3
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r1g4
              | group#4
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r2g5
              | group#5
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r2g6
              | group#6
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r2g7
              | group#7
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r2g8
              | group#8
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r3g9
              | group#9
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r3g10
              | group#10
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r3g11
              | group#11
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r3g12
              | group#12
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r4g13
              | group#13
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r4g14
              | group#14
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r4g15
              | group#15
              h2
        .col-lg-3.col-md-4.col-xs-6
          a.d-block.mb-4.h-100(href='#')
            h2.r4g16
              | group#16
              h2
    // /.container
    // Footer
    footer.py-5.bg-dark
      .container
        p.m-0.text-center.text-white Copyright © Nuwan 2017
      // /.container
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/popper/popper.min.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
