doctype html
html
  head
    title Intro to Node and MongoDB
  body
    h1 Into to Node and MongoDB
    form(method='post', action='/addname')
      label Enter Your Name
      br
      input(type='text', name='team_name', placeholder='Enter your team name...', required='')
      input(type='number', name='score', placeholder='Enter your marks...', required='')
      input(type='submit', value='Add Name')
